@model IEnumerable<QL_ThuVien.Models.ThongKePhat_Result>

@{
    ViewBag.Title = "ThongKeDocGiaPhat";
    Layout = "~/Views/Share/layout_ThongKeDG.cshtml";
}
@section title { Thống kê độc giả bị phạt }
<table border="0" width="675" cellpadding="10">
    <tr align="center" style=" background-color:Orange">
        <th>ĐG tham gia mượn</th>
        <th>ĐG bị phạt</th>
        <th>ĐG mượn sách</th>
        <th>ĐG mượn ấn phẩm</th>
        <th>ĐG mượn sách-ấn phẩm</th>
    </tr>

@foreach (var item in Model) {
    <tr align="center" style="background-color:Yellow">
        <td>
            @Html.DisplayFor(modelItem => item.SLDG_TG_MuonSAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DG_BiPhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DG_MS_BiPhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DG_MAP_BiPhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DG_MSAP_BiPhat)
        </td>
    </tr>
}
</table>
<h4 style="color:Red">Biểu đồ:</h4>
<br/>
<br />
